<section>
  <div class="wrap">
    <h2>パスワード変更</h2>

    <%= form_for @user, url: pass_path, html: { method: :put } do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>

      <div class="field">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="field">
        新しい<%= f.label :password %><em>(<%= User.password_length.min %>文字以上)</em><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        新しい<%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="center_buttons">
        <%= link_to "キャンセル", :back, class:"button_area_blue action_button_side" %>
        <%= f.submit "パスワードを変更する", class:"button_area" %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/assets" %>
</section>
