<div class="container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @users.each do |user| %>
      <div class="prof_<%= user.id %> swiper-slide">
        <section class="displayprof bg_<%= user.color.name %>">
          <div class="wrap">
            <div class="post_profimg">
              <div class="mainimgframe">
                <% if user.profimg %>
                  <%= image_tag show_profimg_user_path(user.id) %>
                <% end %>
              </div>
            </div>

            <div class="prof_body">
              <div class="under">
                <h1><%= user.name %></h1>
              </div>
              <h2><%= user.organization %></h2>
              <h2 class="multiline-text">
                <% user.tag.each do |tag| %>
                  #<%= tag.name %>　
                <% end %>
              </h2>
            </div>

            <div class="clearfix"></div>

            <div class="prof_msg">
              <p><% if user.comment? %>"<%= user.comment %>"<% end %></p>
            </div>
          </div>
        </section>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= stylesheet_link_tag 'swiper/swiper' %>
<%= stylesheet_link_tag 'displays' %>

<%= javascript_include_tag 'swiper/swiper' %>
<%= javascript_include_tag 'displays' %>