<section>
  <div class="wrap">
    <%= link_to root_path, class:"button_area_blue back_btn" do%>
      <span class="material-icons">arrow_back_ios</span>
      戻る
    <% end %>
    <div class="prof_info">
      <% if @user.has_role? "guest" %>
        <div class="show_profimg p_item">
          <div class="show_mainimgframe">
            <% if @user.profimg %>
              <%= image_tag user_image_path(@user.id)%>
            <% else %>
              <p> Not Image</p>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if user_signed_in? and @user.id == current_user.id %>
        <div class="center_buttons p_item">
          <%= link_to edit_user_registration_path, class:"button_area prof_edit_button button_side" do %>
            <span class="material-icons">edit</span>
            プロフィール編集
          <% end %>
          <% if @user.has_password? %>
            <%= link_to edit_pass_path, class:"button_area prof_edit_button button_side" do %>
              <span class="material-icons">vpn_key</span>
              パスワード変更
            <% end %>
          <% else %>
            <%= link_to new_pass_path, class:"button_area prof_edit_button button_side" do %>
              <span class="material-icons">vpn_key</span>
              パスワード登録
            <% end %>
          <% end %>
        </div>
      <% end %>

      <h2 class="p_item"><%= @user.name %></h2>

      <% if @user.comment != "" and !@user.comment.nil?%>
        <p class="alert_area_blue p_item">
          <%= @user.comment %>
        </p>
      <% end %>

      <% if user_signed_in? and @user.id == current_user.id %>
        <p class="p_item"><b>メールアドレス </b><%= @user.email %></p>
      <% end %>

      <% if not @user.has_role? "admin" %>
        <% if @user.shop.present? %>
          <p class="p_item"><b>マイショップ </b><%= @user.shop.name || "none" %></p>
        <% end %>

        <% if not @user.has_role? "staff" %>
          <p class="p_item"><b>所属 </b>
            <% if @user.organization != "" and !@user.organization.nil? %>
              <%= @user.organization %>
            <% else %>
              <i>未登録</i>
            <% end %>
          </p>

          <% if user_signed_in? and @user.id == current_user.id %>
            <p class="p_item"><b>性別 </b><%= t("enums.user.gender.#{@user.gender || 'default'}", default: "未登録") %></p>
            <p class="p_item"><b>生年月日 </b>
              <% if !@user.birthday.nil? %>
                <%= @user.birthday %>
              <% else %>
                <i>未登録</i>
              <% end %>
            </p>
          <% end %>

          <p class="p_item"><b>パーソナリティ </b>
            <% if  @user.personality == 'noanswer' %>
              <i><%= I18n.t("enums.user.personality.#{@user.personality}") %></i>
            <% else %>
              <%= I18n.t("enums.user.personality.#{@user.personality}") %>
            <% end %>
          </p>

          <p class="p_item"><b>プロフィールカラー </b><%= I18n.t("enums.user.color.#{@user.color.name}") %></p>

          <% if !@user.tag.nil? and @user.tag != [] %>
            <p class="taglist_label"><b>タグ</b></p>
            <div class="p_item">
              <% @user.tag.each do |tag| %>
                <div class="button_area_blue show_tag"><%= tag.name %></div>
              <% end %>
            </div>
          <% else %>
            <p class="p_item"><b>タグ </b><i>未登録</i></p>
          <% end %>

          <p class="p_item"><b>ポイント </b><%= @user.point %> pt</p>
        <% end %>
      <% end %>
      <% if current_user.has_role? :staff and @user.check_in? and current_user.shop.id == @user.get_checkin_shop.id %>
        <div class="center_buttons">
          <%= link_to "チェックアウト", checkout_url(@user.id), class:"button_area prof_edit_button", data: {
            confirm: "本当にチェックアウトしますか？",
            cancel: "キャンセル",
            commit: "チェックアウト"
          }, title: "チェックアウト確認" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
