<section>
  <div class="wrap">
    <%= link_to "戻る", root_path, class:"button_area_blue" %>
    <% if !@user.has_role? :admin or (user_signed_in? and current_user.has_role? :admin) %>
      <div class="prof_info">
        <div class="show_profimg p_item">
          <div class="show_mainimgframe">
            <% if @user.profimg %>
              <%= image_tag show_profimg_user_path(@user.id)%>
            <% else %>
              <p> Not Image</p>
            <% end %>
          </div>
        </div>

        <% if user_signed_in? and @user.id == current_user.id %>
          <div class="center_buttons">
            <%= link_to "プロフィール編集", edit_user_registration_path, class:"button_area prof_edit_button" %>
          </div>
        <% end %>

        <p class="p_item">名前: <%= @user.name %></p>

        <% if user_signed_in? and @user.id == current_user.id %>
          <p class="p_item">メールアドレス: <%= @user.email %></p>
        <% end %>

        <p class="p_item">所属: 
          <% if @user.organization != "" and !@user.organization.nil? %>
            <%= @user.organization %>
          <% else %>
            <i>未登録</i>
          <% end %>
        </p>

        <% if user_signed_in? and @user.id == current_user.id %>
          <p class="p_item">性別: <%= I18n.t("enums.user.gender.#{@user.gender}") %></p>
          <p class="p_item">生年月日: <%= @user.birthday %></p>
        <% end %>

        <p class="p_item">パーソナリティ: <%= I18n.t("enums.user.personality.#{@user.personality}") %></p>

        <p class="p_item">プロフィールカラー: <%= I18n.t("enums.user.color.#{@user.color.name}") %></p>

        <% if !@user.tag.nil? and @user.tag != [] %>
          <p>タグ:</p>
          <ul class="taglist p_item">
            <% @user.tag.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="p_item">タグ: <i>未登録</i></p>
        <% end %>

        <p class="p_item">ひとこと: 
          <% if @user.comment != "" and !@user.comment.nil?%>
            <%= @user.comment %>
          <% else %>
            <i>未登録</i>
          <% end %>
        </p>

        <p class="p_item">ポイント: <%= @user.point %> pt</p>
      </div>
    <% else %>
      <p>Forbidden</p>
    <% end %>
  </div>
</section>
