<div class="container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @panels.each do |panel| %>
        <div id="prof_<%= panel[:type]%>_<%= panel[:body].id %>" class="prof_<%= panel[:type] %> swiper-slide">
          <% if panel[:type] == "user" %>
            <%= render "layouts/display_user", user: panel[:body] %>
          <% else %>
            <%= render "layouts/display_ad", ad: panel[:body] %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= stylesheet_link_tag "lib/swiper/swiper" %>
<%= stylesheet_link_tag "displays" %>

<%= javascript_include_tag "lib/swiper/swiper" %>
<%= javascript_include_tag "displays" %>
