<section>
  <div class="wrap">
    <%= link_to root_path, class:"button_area_blue back_btn" do%>
      <span class="material-icons">arrow_back_ios</span>
      戻る
    <% end %>
    <h1>デジタルコンテンツ</h1>

    <% @book_list.each do |book|%>
      <% if book.required_point <= current_user.point %>
        <%= link_to book_path(book.id) do %>
          <%= book.name %><br>
          <%= book.author %><br>
          <%= book.abstract %><br>
          <% Dir.glob(Rails.root.join('public/uploads/books/'+ book.id.to_s + '/') + '1.jpg') do |file| %>
              <%= image_tag file.split('app/public')[1] %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
   
  </div>
</section>
