<section>
  <div class="wrap">
    <%= link_to books_path, class:"button_area_blue back_btn p_item" do%>
      <span class="material-icons">arrow_back_ios</span>
      戻る
    <% end %>
    <div>
      <h1 class="p_item"><%= @book.name %> - <%= @book.author %></h1>
      <p><%= @book.abstract %></p>
      <% @book_pages.each do |page| %>
          <%= image_tag page %>
      <% end %>
    </div>
  </div>
</section>
