<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <p><%= link_to 'Admin', admin_root_path %></p>
  <% end %>
  <p><%= link_to 'Profile', profile_path(current_user.id) %></p>
  <p><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
  <% if current_user.check_in? %>
    <h1><%= current_user.get_checkin_shop.name %></h1>
    <p>Checkin Users
      <ul>
        <% current_user.get_checkin_shop.get_checkin_users.each do |user| %>
          <% if user.id != current_user.id %>
            <li><%= link_to user.name, profile_path(user.id) %></li>
          <% end %>
        <% end %>
      </ul>
    </p>

    <%= image_tag qrcode checkout_url(current_user.id) %>
  <% else %>
    <%= image_tag qrcode checkin_url(current_user.id) %>
  <% end %>
<% else %>
  <p><%= link_to 'Login', new_user_session_path %></p>
<% end %>