<section>
  <div class="wrap">
    <% flash.each do |key, value| %>
      <div class="alert_area">
        <p class="alert alert-<%= key %>">
          <%= value.html_safe %>
        </p>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        <div class="alert_area">
          <p class="p_item">管理者アカウント「<%= current_user.name %>」でサインインしています。</p>
          <p class="p_item">一般スタッフの方はスタッフアカウントでサインインしてください。</p>
          <p>システム管理を行うためには「管理画面」を開いてください。</p>
        </div>
      <% end %>
      <% if current_user.has_role? :staff %>
        <div class="alert_area_blue">
          <p class="p_item"><%= current_user.shop.name %>スタッフアカウント「<%= current_user.name %>」でサインインしています。</p>
          <p class="p_item">顧客の入退店時に顧客のQRコードを読み込んでください。</p>
          <p class="p_item">チェックアウト処理は顧客のプロフィール画面からも行えます。</p>
          <p>全員をチェックアウトさせる時は本ページ下部の「閉店処理」を押してください。</p>
        </div>
      <% end %>

      <% if current_user.check_in? or current_user.has_role? :staff %>
        <% if current_user.has_role? :guest %>
          <% current_shop = current_user.get_checkin_shop %>
        <% else %>
          <% current_shop = current_user.shop %>
        <% end %>

        <% if !current_shop.get_checkin_users.empty? %>
          <p>現在チェックインしているユーザ</p>
          <ul class="prof_list top_margin">
            <% current_shop.get_checkin_users(current_user.id).each do |user| %>
              <li class="prof_list_item ellipsis">
                <%= link_to user_path(user.id) do %>
                  <div class="list_profimg_body">
                    <div class="list_mainimgframe">
                      <% if user.profimg %>
                        <% if user.id == current_user.id %>
                          <%= image_tag user_image_path(current_user.id), class: "border_img" %>
                        <% else %>
                          <%= image_tag user_image_path(user.id) %>
                        <% end %>
                      <% else %>
                        <p class="p_item"> Not Image</p>
                      <% end %>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <p class="list_profname"><%= user.name %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
          <div class="clearfix bottom_margin"></div>
        <% else %>
          <p class="alert_area_blue p_item">表示されるユーザがいません</p>
        <% end %>
      <% end %>

      <% if current_user.has_role? :admin or current_user.has_role? :staff %>
        <div class="center_buttons">
          <% if current_user.has_role? :admin %>
            <%= link_to "管理画面", admin_root_path, target: "_blank" , class:"button_area button_side p_item" %>
            <% @shops.each do |shop| %>
              <%= link_to shop.name + " Display", display_path(shop.id), target: "_blank" , class:"button_area button_side p_item" %>
            <% end%>
          <% end %>
          <% if current_user.has_role? :staff %>
            <%= link_to current_user.shop.name + " Display", display_path(current_user.shop.id), target: "_blank" , class:"button_area button_side p_item" %>
          <% end%>
        </div>
      <% end %>
      <div class="center_buttons">
        <%= link_to user_path(current_user.id), class:"button_area_blue p_item" do %>
          <span class="material-icons">account_box</span>
          プロフィール確認
        <% end %>
      </div>

      <% if current_user.check_in? %>
        <div class="img_center">
          <p class="qrcode_text">Checkout QR</p>
          <%= image_tag qrcode(checkout_url(current_user.id)), class: "qrcode" %>
        </div>
      <% else %>
        <div class="img_center">
          <p class="qrcode_text">Checkin QR</p>
          <%= image_tag qrcode(checkin_url(current_user.id)), class: "qrcode" %>
        </div>
      <% end %>

      <div class="center_buttons smltopmargin">
        <%= link_to "サインアウト", destroy_user_session_path, method: :delete ,class:"button_area" %>
      </div>

      <% if current_user.has_role? :staff %>
        <div class="center_buttons smltopmargin">
          <%= link_to "閉店処理", checkout_all_path, class:"button_area_blue button_side p_item", data: {confirm: "本当に実行しますか？"} %>
        </div>
      <% end %>

    <% else %>
      <div class="center_buttons">
        <%= link_to "サインイン", new_user_session_path , class:"button_area button_side" %>
        <%= link_to "サインアップ", new_registration_path(User) , class:"button_area_blue" %>
      </div>
    <% end %>
  </div>
</section>

<% if !user_signed_in? %>
  <%= render "lp/lp_v1" %>
<% end %>