<% if user_signed_in? %>
  <p><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
  <p><%= link_to 'Profile', profile_path(current_user.id) %></p>
  <% if current_user.try(:admin?) %>
    <p><%= link_to 'Admin', admin_root_path %></p>
  <% end %>
  <% if current_user.try(:check_in?) %>
    <p><%= link_to 'Check Out', checkio_path, method: :post %></p>
  <% else %>
    <p><%= link_to 'Check In', checkio_path, method: :post %></p>
  <% end %>
  <%= image_tag qrcode current_user.name %>
<% else %>
  <p><%= link_to 'Login', new_user_session_path %></p>
<% end %>
