<section>
  <div class="wrap">
    

<% flash.each do |key, value| %>
  <p class="p_item alert alert-<%= key %>">
    <%= value %>
  </p>
<% end %>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <p class="p_item"><%= link_to '管理画面', admin_root_path %></p>
  <% end %>
  <p class="p_item"><%= link_to 'プロフィール', profile_path(current_user.id) %></p>
  <p class="p_item"><%= link_to 'サインアウト', destroy_user_session_path, method: :delete %></p>
  <% if current_user.check_in? %>
    <h1><%= current_user.get_checkin_shop.name %></h1>
    <p class="p_item">Checkin Users
      <ul>
        <% current_user.get_checkin_shop.get_checkin_users.each do |user| %>
          <% if user.id != current_user.id %>
            <li><%= link_to user.name, profile_path(user.id) %></li>
          <% end %>
        <% end %>
      </ul>
    </p>

    <div class="img_center">
      <p class="qrcode_text">Checkout</p>
      <%= image_tag qrcode(checkout_url(current_user.id)), class: 'qrcode' %>
    </div>
  <% else %>
    <div class="img_center">
      <p class="qrcode_text">Checkin</p>
      <%= image_tag qrcode(checkin_url(current_user.id)), class: 'qrcode' %>
    </div>
  <% end %>
<% else %>
  <p class="p_item"><%= link_to 'サインイン', new_user_session_path %></p>
  <p class="p_item"><%= link_to "サインアップ", new_registration_path(User) %></p>
<% end %>


  </div>
</section>