<section class="displayprof bg_<%= user.color.name %>">
  <div class="wrap">
    <div class="post_profimg">
      <div class="mainimgframe">
        <% if user.profimg %>
          <%= image_tag user_image_path(user.id) %>
        <% end %>
      </div>
    </div>

    <div class="prof_body">
      <div class="under">
        <h1 class="prof_name"><%= user.name %></h1>
      </div>
      <h2 class="prof_org"><%= user.organization %></h2>
      <div class="multiline-text-container">
        <h2 class="prof_tag multiline-text">
          <% user.tag.each do |tag| %>
            #<%= tag.name %>&nbsp;
          <% end %>
        </h2>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="prof_msg multiline-text-container">
      <% if user.comment? %><p class="prof_msg_body multiline-text-3"><%= user.comment %></p><% end %>
    </div>
  </div>
</section>
