<!DOCTYPE html>
<html>
  <head>
    <title>Katharsis Digital Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="center_buttons">
      <a href="javascript:window.close();" class="button_area_blue">閉じる</a>
    </div>
  </body>
</html>