<section>
  <div class="wrap">
    <% flash.each do |key, value| %>
      <div class="alert_area">
        <p class="alert alert-<%= key %>">
          <%= value.html_safe %>
        </p>
      </div>
    <% end %>
    <h2>ユーザ一覧</h2>
    <div class="users_list">
      <% @users.each do |user| %>
        <%= link_to user_path(user.id), class:"item" do %>
            <div class="item_mainimgframe">
              <%= image_tag user_image_path(user.id)%>
            </div>
          <p class="item_name"><%= user.name %></p>
          <div class="clearfix"></div>
        <% end %>
      <% end %>
    </div>
    <%= paginate(@users) %>
  </div>
</section>